.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 280px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.icon {
  margin-right: 8px;
  font-size: 1.2em;
  vertical-align: middle;
}

.name,
.number {
  font-size: 1rem;
  margin: 4px 0;
}

.details {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  text-align: left;
}

.deleteBtn {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  color: #000;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.deleteBtn:hover {
  background-color: #e0e0e0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.deleteBtn:active {
  background-color: #d6d6d6;
}
